<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/30/2M/E7E7E7E7E2" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>
   
  <group ns="cf">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="cf" />
      <param name="enable_logging" value="True" />
      <param name="enable_logging_imu" value="True" />
      <rosparam>
        genericLogTopics: ["log"]
        genericLogTopicFrequencies: [100]
        genericLogTopic_log_Variables: ["kalman.stateX", "kalman.stateY", "kalman.stateZ"]
      </rosparam>
    </node>
  </group>

    <node name="crazyflie_demo_encryption" pkg="crazyflie_demo" type="encryption_test.py" output="screen">
    </node>

</launch>